@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(#EDEDED, #fff);
}

footer {
  margin-top: auto;
  margin-bottom: auto;
  color: #BDBDBD;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin-bottom: 25px;
}

form {
  width: 100%;
}


input {
  width: 90%;
  padding: 5px;
  font-size: 1.2em;
  font-weight: lighter;
  border: 1px solid lightgrey;
}

input::-webkit-input-placeholder {
  color: lightgrey;
  font-style: italic;
}

.App {
  max-width: 600px;
  height: 100vh;
  margin: auto;

  display: flex;
  flex-direction: column;

  /* -- this is for horizontal align -- */
  align-items: center;

  padding: 20px;
  border: 2px solid purple;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 40px;
  width: 100%;

  border: 2px solid blue;
}